.Admin{
    flex: 0.8;
    height: 100vh;
    overflow: auto;
    padding: 50px;
    display: flex;
    justify-content: safe;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.AdminCardBlock{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr ; /* Card Colume Block Frame 1fr */
}
.AdminCard{
    width: 100%;
    /* height: fit-content; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}


@media  screen and (max-width:780px) {

    .Admin{
        padding: 20px;
    }

    .AdminCardBlock{
        grid-template-columns: 1fr;
    }
    
}