body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.outerbox{
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
}

@media  Screen and (max-width:780px) {

  .outerbox{
    flex-direction: column;
  }
  
}